:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  /* font-weight: 400; */

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --font-color: #646cff;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body, .app {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* My Styles */

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.nav {
  display: flex;
  gap: 3em;
}

.search {
  display: flex;
  gap: 1em;
  align-self: center;
  margin-top: -5px;
}

.search input {
  color: var(--font-color);
  outline: 1px solid var(--font-color);
  border: none;
  border-radius: 15px;
  text-align: center;
}

.enterBtn,
.order-btn  {
  padding: 0.1em 1em;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background-color: var(--font-color)
}

/* Utilities */

.container {
  width: 90vw;
  margin: 0 auto;
}

.img-div {
  position: relative;
}

.img {
  width: 100%;
  height: 100%;
}

.cart-img-div {
  height: 200px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.cart-img {
  height: 100%;
}

.order-btn {
  display: block;
  margin: 0 auto;
  padding: .5rem 1.5rem;
  color: white;
}

.info-fig {
  width: 30%;
}

.img-info {
  width: 100%;
}

.download {
  padding: .3rem 1rem;
  background-color: var(--font-color);
  color: white;
  border-radius: 10px;
}

/* Icons */

.icon {
  font-size: 2rem;
  color: var(--font-color);
  cursor: pointer;
}

.heart, 
.add,
.likes,
.price{
  position: absolute;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.heart {
  left: 10px;
  top: 10px;
  color: salmon;
}

.add {
  right: 10px;
  top: 10px;
  color: salmon;
}

.likes {
  left: 15px;
  top: 40px;
}

.price {
  right: 15px;
  top: 40px;
}

.photographer {
  position: absolute;
  bottom: 10px;
  left: 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.profile-photo {
  margin-left: 1rem;
  border-radius: 50%;
}


/* Pages */

.photos-page {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  /* grid-template-rows: 200px;  */
  /* grid-auto-rows: 200px; */
  grid-auto-flow: dense;
  grid-gap: 1em;
}

.cart-page {
  display: grid;
  gap: 1em;
}

.info-page {
  display: flex;

}
/* Orientation */

.landscape {
  grid-column: span 3;
}

.portrait {
  grid-row: span 2;
  grid-column: span 3;
}

.squarish {
  grid-column: span 3;
  grid-row: span 3;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
